
body {
  font-family: 'Lato', Arial;
  font-size: 16px;
  color: #263C4C;
  text-align: center;
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
}

img {
    width: 100%;
}


a:link, a:visited {
    text-decoration: underline;
    color: #444;
}

li {
    list-style: none;
}

.italic{
    font-style: italic;
    font-size: 12px;
}

.pb-xs-2 {
    padding-bottom: 12px;
}
.pb-xs-4 {
    padding-bottom: 24px;
}
.pb-xs-6 {
    padding-bottom: 36px;
}

/* HEADER */

header {
    background: #002D6A;
    background-size: cover;
    text-align: center;
}

.title {
	font-size: 72px;
	font-family: 'Lato', serif;
    font-weight: 400;
	color: #fff;
    display: block;
    padding: 14px 12px 10px 12px;
    margin: 2px 0px 0px 10px;
  }

.date {
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 28px;
    color: #fff;
}

.header-date {
	text-transform: uppercase;
    color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
}

.header-location{
	padding-top: 10px;
    color: #fff;
	padding-bottom: 10px;
}

.header-smirk{
    font-family: 'Lato', serif;
	font-style: italic;
    color: #fff;
	font-size: 12px;
    font-weight: 300;
	padding-bottom: 30px;
    letter-spacing: 1px;
}

@media (max-width: 480px) {
    header {
        background: #002D6A;
    }
    header body {
    	color: #fff;
    }
    .title {
        font-size: 36px;
        color: #fff;
        padding: 15px 16px 10px 16px;
    }

    .header-date {
        font-size: 16px;
        color: #fff;
    }

    .header-location {
    	color: #fff;
        font-size: 12px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .header-smirk {
    	color: #fff;
        font-size: 12px;
        padding-bottom: 10px;
    }
}

/* PHOTO */

.welcome {
    color: #FFFFFF;
    text-align: center;
    background: url('/img/engagement-1.jpg') no-repeat 50% 50%;
    background-size: cover;
}

 
.names {
    padding: 500px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
    letter-spacing:2px;
}



@media (max-width: 767px) {
    .welcome {
        color:#ffffff;
        text-align: center;
        background: #FFFFFF url('/img/engagement-2.jpg') no-repeat 48% 10%;
        background-size: cover;
    }

    .names{
        padding: 200px 10px 0px 10px;
        font-size: 24px
    }
}


/* DETAILS / ITINERARY */

.details {
    color: #444;
    text-align: center;
    background: #FFEAE3;
    padding-top: 40px;
    padding-bottom: 20px
}


.details h2 {
    font-weight: 300;
    font-size: 36px;
}

.details h3 {
    font-weight: 300;
    font-size: 24px;
}

.details h4 {
    font-weight: bold;
    font-size: 16px;
}

.bar-name {
    font-weight: bold;
    font-size: 18px; 
}

.details-bold {
    font-weight: bold;
}

.details-wear {
    font-size: 14px;
}

@media (max-width: 480px) {
    .details h2 {
        font-size: 24px;
    }

    .details h3 {
        font-size: 18px;
    }

    .details p {
        font-size: 14px;
    }

    .bar-name {
        font-size: 14px
    }

    .details-wear {
        font-size: 12px;
    }
}

/* HOTEL */

.hotel {
    color: #444;
    text-align: center;
    background: #FBFBF8;
    padding-top: 40px;
    padding-bottom: 40px
}

.hotel h2 {
    font-size: 36px;
}

.hotel h3 {
    font-size: 24px;
}

.hotel ul {
    list-style-type: none;
    padding: 0;
    font-size: 12px;
    margin: 4px 0 4px 0;
}

.hotel img {
    width: 50%;
    border-radius: 50%;
}


@media (max-width: 480px) {
    .hotel h2 {
    font-size: 24px;
    }

    .hotel h3 {
    font-size: 12px;
    }
}

/* REGISTRY */

.registry {
    background-color: #FFAC8F;
    font-size: 16px;
    color: #222;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.registry h2 {
    font-weight: 300;
    font-size: 36px;
    margin: 4px 0 8px 0;
    color: #222;
}

.ghost-button {
    background-color: #FFEAE3;
    color: #00436A;
    border: 1px solid #00436A;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
}

.ghost-button a {
    text-decoration: none !important
}


@media (max-width: 480px) {
    .registry h2 {
        font-size: 24px;
        margin: 4px 0 8px 0;

    }

}

/* ACTIVITIES AND FUN */

#activities a {
    color: #002D6A;
    text-decoration: underline;
}
#activities a:hover {
    text-decoration: none;
}

.fun-item {
    text-align: center;
    padding-bottom: 6px;
}

.fun-circ {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #002D6A;
}

.fun-name {
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0 6px 0;
}

.fun-name, .fun-desc, .fun-map {
    color: #002D6A;
}

.fun-desc, .fun-map {
    font-size: 14px;
    font-weight: 300;
}
.fun-desc {
    margin: 0 0 6px 0;
}
.fun-map {
    margin: 6px 0 12px 0;
}

.fun-sail {
    background: #FFFFFF url('/img/sail.jpg') no-repeat 50% 50%;
}
